
<div class="row-fluid">


<div id='modalInfo'></div>


<a id="calltoaction" href="submit.html">Add an Event</a>
			<div id="sidemenu" class="home span4">
				<ul>
					
					
                                <% var interval = 20; %>
				<% for(i=0; i< interval; i++) { %>
                                <li><a modal-link="/api/event/<%= posts[i].id %>" class="homeModalLink">
						<h3><%= posts[i].name %></h3>
						<p><%= posts[i].place %><br/>
						<%= posts[i].date %>, <%= posts[i].time %><br/>
						</a>
					</li>
                                    
                                    <% } %>
				
				</ul>
				<a id="loadmore" loadmore="<% interval %>">Load more events</a>
			</div><!-- end sidemenu -->
			
			
			<div class="span8">
				<div id="map" style="width: 100%; height: 100%"></div>
			</div>
</div>
<script>			
jQuery(document).ready(function() {
	//$('#myModal').modal();
	
	
});
</script>