


<div id="map" style="width: 100%; height: 100%"></div>
<div id='modalInfo'></div>


<a id="calltoaction" href="submit.html">Add an Event</a>
			<div id="sidemenu" class="home span4">
				<ul id="today-events">
					
				<% if (posts == "") {%>
				<li><i>Sorry no events today.<br/>Check back tomorrow.</i></li>
				<% } %>
                                
				<% for(i=0; i< posts.length; i++) { %>
                                <li map-lat="<%= posts[i].location.latitude%>" map-lng="<%= posts[i].location.longitude%>" event-name="<%= posts[i].name %>" event-place="<%= posts[i].place %>" event-time="<%= posts[i].time %>"><a modal-link="/api/event/<%= posts[i].id %>" class="homeModalLink">
						<h3><%= posts[i].name %></h3>
						<p><%= posts[i].place %><br/>
						<%= posts[i].date %>, <%= posts[i].time %><br/>
						</a>
					</li>
                                    
                                    <% } %>
				
				</ul>
		<!--		<a id="loadmore">Load more events</a> -->
			</div><!-- end sidemenu -->
			
			
			
				

<script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCd0OwuITWgFYeD40XygkRseJjndM2Nnsg&sensor=true">
    </script>