<html>
	<head>
		<title>BeThereNYC - Coming Soon - Michelle Boisson</title>
		<link rel="stylesheet" href="css/style.css" type="text/css" media="screen" title="no title" charset="utf-8"/>
                <link href='http://fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css'>
	</head>
	<body>
	
	<div id="container">
		<a id="calltoaction" href="submit.html">Add an Event</a>
			<div id="sidemenu">
				<ul>
					<li><a href="#">
						<h2>Black History in Sports</h2>
						<p>Chelsea Recreation Center<br/>
						Feb 6, 8:00am<br/>
						</a>
					</li>
					<li><a href="#">
						<h2>BeFitNYC Free First Monday</h2>
						<p>Multiple Locations<br/>
						Feb 6, 9:00am<br/>
						</a>
					</li>
					<li><a href="#">
						<h2>Faith, Courage & Purpose: Artists of the Diaspora-Exhibition</h2>
						<p>Central Park<br/>
						Feb 6, 9:00am<br/>
						</a>
					</li>
					<li><a href="#">
						<h2>The Black Latin Beat</h2>
						<p>J.Hood Wright Recreation Center<br/>
						Feb 6, 10:00am<br/>
						</a>
					</li>
					<li><a href="#">
						<h2>Shape Up NYC: Leading A Healthy Lifestyle</h2>
						<p>Tony Dapolito Recreation Center<br/>
						Feb 6, 12:00am<br/>
						</a>
					</li>
					<li><a href="#">
						<h2>Guided Tour of the Merchant's House Museum</h2>
						<p>Merchant's House Museum<br/>
						Feb 6, 2:00pm<br/>
						</a>
					</li>
                                        					<li><a href="#">
						<h2>Black History in Sports</h2>
						<p>Chelsea Recreation Center<br/>
						Feb 6, 8:00am<br/>
						</a>
					</li>
					<li><a href="#">
						<h2>BeFitNYC Free First Monday</h2>
						<p>Multiple Locations<br/>
						Feb 6, 9:00am<br/>
						</a>
					</li>
					<li><a href="#">
						<h2>Faith, Courage & Purpose: Artists of the Diaspora-Exhibition</h2>
						<p>Central Park<br/>
						Feb 6, 9:00am<br/>
						</a>
					</li>
					<li><a href="#">
						<h2>The Black Latin Beat</h2>
						<p>J.Hood Wright Recreation Center<br/>
						Feb 6, 10:00am<br/>
						</a>
					</li>
					<li><a href="#">
						<h2>Shape Up NYC: Leading A Healthy Lifestyle</h2>
						<p>Tony Dapolito Recreation Center<br/>
						Feb 6, 12:00am<br/>
						</a>
					</li>
					<li><a href="#">
						<h2>Guided Tour of the Merchant's House Museum</h2>
						<p>Merchant's House Museum<br/>
						Feb 6, 2:00pm<br/>
						</a>
					</li>
				</ul>
			</div><!-- end sidemenu -->
			
			<div id="map">
                            
				<iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=new+york,+ny&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=40.732051,59.414063&amp;ie=UTF8&amp;hq=&amp;hnear=New+York&amp;t=m&amp;ll=40.714476,-74.005966&amp;spn=0.12491,0.219727&amp;z=12&amp;iwloc=A&amp;output=embed"></iframe>		
			</div>
            </div>	<!--end container -->			
			
		<div id="footer">
			<h1 id="logo"><a href="#">BeThereNYC</a></h1>
			Hi! I'm the footer. By Michelle Boisson
		</div>

	</body>
</html>