<!--default layout page -->
<!DOCTYPE html>
<html>
    <head>
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
        
        <script src="/js/jquery-1.7.2.js" type="text/javascript" ></script>
        <script src="/js/jquery-ui-1.8.17.custom.min.js" type="text/javascript"></script>
	<script src="/js/jquery-ui-timepicker-addon.js" type="text/javascript"></script>
	<script src="/js/formToWizard.js" type="text/javascript"></script>
	<script src="/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/js/bootstrap-modal.js" type="text/javascript"></script>
	
	<!-- share this -->	
	<script type="text/javascript">var switchTo5x=true;</script>
	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher: "fa407f9f-432f-4c4a-9a59-a024cba9bee4"}); </script>
        
        <title>
        <% if (typeof pageTitle != "undefined") { %>
           <%= pageTitle %>
        <% } else { %>
            BeThereNYC - Coming Soon
        <% } %>
        
        </title>

        <link href="/css/jquery-ui-1.8.17.custom.css" rel="stylesheet" type="text/css"/>
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
	<link href="/css/jquery-ui-timepicker-addon.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="/css/style.css" type="text/css" media="all" title="no title" charset="utf-8"/>
        <link href='http://fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css'/>
	
	
	<!-- google analytics tracking code -->
	<script type="text/javascript">

	    var _gaq = _gaq || [];
	    _gaq.push(['_setAccount', 'UA-2951847-2']);
	    _gaq.push(['_trackPageview']);

	    (function() {
	      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	    })();
	</script>
	
    </head>

    <body>
    
	<div id="footer" class="navbar navbar-fixed-top">
	    <div id="title" class="span6"><h1 id="logo"><a href="/">BeThereNYC</a></h1> <span id="description">Free and cheap events happening now</span></div>
    	    <div id="fullmenu" style="text-align: right; margin-right: 50px; line-height:50px;"><a href="/submit.html">Add an Event</a> | <a href="/api/info/">Data API</a></div>
	    <div id="mobilemenu" style="text-align: right; margin-right: 50px; line-height:60px;">
		<a href="/submit.html" class="btn btn-navbar">Add</a>
		<a href="#mapHome" class="btn btn-navbar" id="showMap">Map</a>
		<a href="#sidemenu" data-role="button" class="btn btn-navbar" id="showList"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
	</div></div>

                <%- body %>

	<script src="/js/moment.js" type="text/javascript"></script>
	<script src="/js/scripts.js" type="text/javascript"></script>
	<script type="text/javascript"
	    src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCd0OwuITWgFYeD40XygkRseJjndM2Nnsg&sensor=true">
	</script>

 
    </body>
</html>