
		<div id="header">
			<h1 id="logo"><a href="#"><img src="img/betherenyc_logo.png" alt="BeThereNYC" title="BeThereNYC"></a></h1>
			<h2>free cheap here now</h2>
		</div>
		

		<div id="maincontent" class="fullwidth">
				<div id="signup">
					<h2>Sign Up for Reminders</h2>
					<input type="text" width="100%"/>
                                        <button id="saveBtn">Go!</button>
				</div>
                                
                                <div id="sidemenu" class="leftCol-1Third">
                                    <!-- ul is a list container -->
<h2>Recently Added</h2>
<ul id="recentlyAdded">
     <% for(i=0; i<posts.length; i++) { %>
	<li>
	<h3><a href="/events/<%= posts[i].urlslug %>"><%= posts[i].name %></a></h3>
	<div class="hidden">
		<%= posts[i].place %><br/>
		<%= posts[i].date %>, <%= posts[i].time %><br/>
		<a href="/events/<%= posts[i].urlslug %>">Details...</a></div>
	</li>
                                    
    <% } %>
    
</ul>
                                </div>
                                
                                <div id="submitForm" class="rightCol-2Thirds">
                                    <h1><%= event.name %></h1>
                                    
                                    <p><%= event.date %> &nbsp;, <%= event.time %> <br/>
                                    <%= event.place %></p>
				    
				    <p><%= event.desc %>
                                    
                                   <!-- <form method="POST">
                                        <button id="edit">Edit</button>
                                    </form>
                                    <a href="../"><button id="Done">Done!</button></a>  -->
                                </div>


                                
                </div>
				
		</div>