
<div  class="container">
<div id="maincontent" class="row-fluid">     
        <div id="submitForm" class="span8">
		<% if (add) { %>
    <br>
    <div class="alert alert-success">
        Would you like to edit this event? - <a href="/update/<%= event._id %>">Edit post</a>
    </div>
<% } %>
                <h1><%= event.name %></h1>
		
		
		<p>Submitted by <%= event.author.name %><p>
			
		<p id="event-desc"><%- event.desc %></p>
		<p>More info: <a href="<%= event.link %>" target=new><%= event.linkname %></a></p>
		
	</div>
	<div class="span4">
		<div id="mapEvent" map-lat="<%= event.location.latitude %>" map-lng="<%= event.location.longitude %>"></div>
		<p><br/><%= event.location.placename %><br/>
		<%= event.location.address %></p>
		<p id="datetime"><%= event.datetime.starttimestamp %></p>
		<p id="endtime"><%= event.datetime.endtimestamp %></p>
		<!--<p>Closest Train Station:<span id="stations"></span></p>-->
		<p>More info: <a href="<%= event.link %>" target=new><%= event.linkname %></a></p>
		<p style="border-bottom: 1px solid #ccc">&nbsp;</p>
		<span class='st_sharethis' displayText='ShareThis'></span>
		<span class='st_email' displayText='Email'></span>
		<span class='st_facebook' displayText='Facebook'></span>
		<span class='st_twitter' displayText='Tweet'></span>
  
	</div>
</div>

</div>
<script>
	$(document).ready(function(){
		moment.calendar = {
			lastDay : '[Yesterday at] LT',
			sameDay : '[Today at] LT',
			    nextDay : '[Tomorrow at] LT',
			    lastWeek : '[last] dddd [at] LT',
			    nextWeek : 'dddd [at] LT',
			sameElse : 'LLLL'
		};
		
		var startTime = $("#datetime").html();
		var endtime = $("#endtime").html();
		$("#datetime").html(moment.utc(new Date(startTime)).calendar() +" - "+moment.utc(new Date(endtime)).format("h:mm a"));
		$("#endtime").remove();
	});
		
	
</script>