
		
		<!--<div id="header">
			<h1 id="logo"><a href="/"><img src="/img/betherenyc_logo.png" alt="BeThereNYC" title="BeThereNYC"></a></h1>
			<h2>free cheap here now</h2>
		</div>
		-->

		<div id="maincontent" class="row-fluid">
				<!--<div id="signup">
					<h2>Sign Up for Reminders</h2>
					<input type="text" width="100%"/>
                                        <button id="saveBtn">Go!</button>
				</div>
				-->
                                
                                <div id="sidemenu" class="span2">
                                    <!-- ul is a list container -->

                                </div>
                                
                                <div id="submitForm" class="rightCol-2Thirds">
                                    <h1>Add a New Event</h1>
<!-- textbox #newTodo -->
<form method="POST" name="EventForm">
<input type="text" placeholder="Event Name" id="eventName" name="eventName" size="50" /><br/>
<input type="text" class="input-medium" name="urlslug" id="urlslug" placeholder="url slug">
<p class="help-block">The url slug for this event entry, the ending of the URL. ie 'http://localhost:5000/event/<b><u>the-best-event</u></b>'</p>
<input type="text" placeholder="Date" id="eventDate" name="eventDate" size="50" />
<input type="text" placeholder="Time" id="eventTime" name="eventTime" size="50" />
<input type="text" placeholder="Place" id="eventPlace" name="eventPlace" size="50" />

<textarea id="eventDesc" name="eventDesc" rows="15" cols="35" placeholder="Description..."/></textarea>
<input type="submit" value="Save Edits" id="saveBtn"/>

</form>

                                  
                                    
                                    
                                </div>


                                
                                
				
		</div>
        
        
        <script type="text/javascript">
	$(document).ready(function(){

               $("#recentlyAdded h3").live("click", function(){           
                    $(this).siblings().toggle("slow");
               });
           
		$("#eventDate").datepicker();
		
		jQuery('#eventName').change(function(e){
			var currentTitle = jQuery(this).val();
			jQuery("#urlslug").val(convertToSlug(currentTitle));
		});
    
            });
function convertToSlug(Text)
{
    return Text
        .toLowerCase()
        .replace(/[^\w ]+/g,'')
        .replace(/ +/g,'-')
        ;
}
      </script>
