

		<div id="maincontent" class="row-fluid">
		
    <div id="submitForm" class="span4">                            
                                    <h1>Add a New Event</h1>
<!-- textbox #newTodo --><p id="eventInfo"></p>
    </div>
<div class="span5">	
<form method="POST" name="EventForm" class="form-horizontal" id="EventForm">
	 <fieldset>
            <legend>Event Basics</legend>
<div class="control-group">
	<label class="control-label" for="appendedPrependedInput">Event Name</label>
	<div class="controls">
		<input type="text" placeholder="Event Name" id="eventName" name="eventName" class="input-large" />
	</div>
</div>
<div class="control-group" style="visibility:hidden">
	<label class="control-label" for="appendedPrependedInput">the pretty link for this event</label>
	<div class="controls">
		<input type="text" class="input-large" name="urlslug" id="urlslug" >
		<p class="help-block">The url slug for this event entry, the ending of the URL. ie 'http://betherenyc.herokuapp.com/event/<b><u>the-best-event</u></b>'</p>
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="appendedPrependedInput">Event Date & Time</label>
	<div class="controls">
		<input type="text" placeholder="Date" id="eventDate" name="eventDate" size="50" />
	</div>
</div>
</fieldset>
	  <fieldset>
            <legend>Venue Info</legend>
		<!--<input type="text" placeholder="Time" id="eventTime" name="eventTime" size="50" />-->
<div class="control-group">
	<label class="control-label" for="appendedPrependedInput">Name of Venue</label>
	<div class="controls">
		<div class="input-append">
			<input type="text" placeholder="Place Name" id="eventPlace" name="eventPlace" size="50" class="appendedPrependedInput"/>
			<a id="mapthis" class="btn">map this</a>
		</div>
	</div>
</div>

<input type="hidden" id="eventPlaceLat" name="eventPlaceLat" class="input-medium"/>
<input type="hidden" id="eventPlaceLng" name="eventPlaceLng" class="input-medium"/>
	  </fieldset>

	  <fieldset>
            <legend>Account information</legend>
<div class="control-group">
	<label class="control-label" for="appendedPrependedInput">Info came from</label>
	<div class="controls">
		<input type="text" value="http://" id="eventLink" name="eventLink" size="50" />
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="appendedPrependedInput">Tell us a bit more</label>
	<div class="controls">
		<textarea id="eventDesc" name="eventDesc" rows="15" cols="35" placeholder="Description..."/></textarea>
	</div>
</div>
	  </fieldset>

	<input class="offset2" type="submit" value="Add Event" id="saveBtn"/>
</form>
</div>
</div>

</div>
                                
                                
				
		</div>
        
        
<script type="text/javascript">
	$(document).ready(function(){
		
		$("#EventForm").formToWizard({ submitButton: 'saveBtn' })
		
		$("#eventPlace").focusout(function(){
			if ($(this).val() != '' ){
				$("#mapthis").show();
			}
		});
		
		
		$("#mapthis").click(function(){
			var placeName = $("#eventPlace").val();
			//var myAPIKEY = "HAXUF5OV2J54CYSTU13GAQDV5BXEOOZNRYOFI0ISD5YTIPJJ";
			//var fsURL= "https://api.foursquare.com/v2/venues/search?near=New%20York,%20NY&query="+placeName+"&oauth_token="+myAPIKEY+"&v=20120417"
			
			$.getJSON("https://api.foursquare.com/v2/venues/search", {
				//near: "New York, NY",       
				client_id: "2TQIGNJBRY041OPCNGJEK0WA4DZR4GE4WWDBXLRMORDYEIF0",
				client_secret: "AFEPPURRCGM3UXJHRMTSURENT0NNGNMFCH3ZQCXM54RQB5FP",
				query: placeName,
				ll: "40.74828059076867,-73.98556262254715",
				intent: "browse",
				radius: 100000,
				format: "jsonp"
			}, function(data){
				console.log(data);
				var items = data.response.groups[0].items;
				console.log(data.response.groups[0].items);
				
				var somehtml = "<ul id=locationjson><i>Do you mean?</i>";
				for(i=0; i< items.length; i++){
					var addItem = "<li place-name='"+items[i].name+"' place-lat="+items[i].location.lat+" place-lng="+items[i].location.lng+">"+items[i].name+" - "+items[i].location.address+" "+items[i].location.city+"</li>";
					somehtml += addItem;
				}
				somehtml += "</ul>";
				$("#eventPlace").after(somehtml);

				
			}); 
		});
		
		$("#locationjson li").live('click', function(){
			var buttons = "<a class='btn btn-primary'>Confirm</a> <a class='btn btn-danger'>Deny</a>";
			var lat = $(this).attr('place-lat');
			var lng = $(this).attr('place-lng');
			var n = $(this).attr('place-name');
			$(this).css('color', 'orange');
			$(this).css('cursor', 'pointer');
			
			$("#eventPlaceLat").val(lat);
			$("#eventPlaceLng").val(lng);
			$("#eventPlace").val(n);
			
			
			$("#locationjson").fadeOut();
			$("#mapthis").fadeOut();
			//$(this).append(buttons);
		});
		//map = new google.maps.Map(document.getElementById("minimap"), myOptions);
           
		//$("#eventDate").datepicker();
		$("#eventDate").datetimepicker();
		
		jQuery('#eventName').change(function(e){
			var currentTitle = jQuery(this).val();
			jQuery("#urlslug").val(convertToSlug(currentTitle));
		});
    
	});// end doc ready
	
	
function convertToSlug(Text)
{
    return Text
        .toLowerCase()
        .replace(/[^\w ]+/g,'')
        .replace(/ +/g,'-')
        ;
}


</script>
