
		
		<!--<div id="header">
			<h1 id="logo"><a href="/"><img src="/img/betherenyc_logo.png" alt="BeThereNYC" title="BeThereNYC"></a></h1>
			<h2>free cheap here now</h2>
		</div>
		-->

		<div id="maincontent" class="row-fluid">
				<!--<div id="signup">
					<h2>Sign Up for Reminders</h2>
					<input type="text" width="100%"/>
                                        <button id="saveBtn">Go!</button>
				</div>
				-->
                                
                                <div id="sidemenu" class="span2">
                                    <!-- ul is a list container -->
                                </div>
                                
                                <div id="submitForm" class="span8">

<% if (updated) { %>
    <br>
    <div class="alert alert-success">
        Event info was updated successfully - <a href="/events/permalink/<%= event._id %>">View post</a>
    </div>
<% } %>
                                    <h1>Edit Event</h1>
<!-- textbox #newTodo -->


<form method="POST" name="Eventupdate" action="/update" class="form-horizontal">
    <!-- include the blog post _id as a hidden value -->
    <input type="hidden" name="event_id" value="<%= event._id %>">
<div class="control-group">
	<label class="control-label" for="appendedPrependedInput">Event Name</label>
	<div class="controls">    
<input type="text" value="<%= event.name %>" id="eventName" name="eventName" size="50" /><br/>
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="appendedPrependedInput">url slug for this site</label>
	<div class="controls">
<input type="text" disabled class="input-medium" name="urlslug" id="urlslug" value="<%= event.urlslug %>"/>
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="appendedPrependedInput">Event Date & Time</label>
	<div class="controls">
		<input type="text" value="<%= event.datetime.timestamp %>" id="eventDate" name="eventDate" size="50" />
</div>
</div>
		<!--<input type="text" placeholder="Time" id="eventTime" name="eventTime" size="50" />-->
<div class="control-group">
	<label class="control-label" for="appendedPrependedInput">Name of Venue</label>
	<div class="controls">
		<div class="input-append">
			<input type="text" disabled value="<%= event.place %>" id="eventPlace" name="eventPlace" size="50" class="appendedPrependedInput"/>
		</div>
	</div>
</div>

<input type="hidden" value="<%= event.location.latitude %>" id="eventPlaceLat" name="eventPlaceLat" class="input-medium"/>
<input type="hidden" value="<%= event.location.longitude %>" id="eventPlaceLng" name="eventPlaceLng" class="input-medium"/>
<div class="control-group">
	<label class="control-label" for="appendedPrependedInput">Info came from</label>
	<div class="controls">
		<input type="text" value="<%= event.link %>" id="eventLink" name="eventLink" size="50" />
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="appendedPrependedInput">Event Name</label>
	<div class="controls">
<textarea id="eventDesc" name="eventDesc" rows="15" cols="35"  class="input-xlarge"/><%= event.desc %></textarea>
</div>
</div>
<input class="offset2" type="submit" value="Update Event" id="saveBtn"/>

</form>

                                  
                                    
                                    
                                </div>


                                
                                
				
		</div>
        
        
        <script type="text/javascript">
	$(document).ready(function(){

               $("#recentlyAdded h3").live("click", function(){           
                    $(this).siblings().toggle("slow");
               });

		$("#eventDate").datetimepicker();
    
            });        
      </script>
