<p>Hello <%= currentUser.name.first %></p>

<hr/>
<% if (typeof(message) != "undefined") { %>
<p><%= message %></p>
<hr>
<% } %>

<h3>Change password</h3>
<form method="POST" action="/account/changepassword">
    New Password : <input type="password" name="password"><br>
    Type Password again: <input type="password" name="password2"><br>
    <br>
    <input type="submit" name="submit" value="Change Password">
</form>
<p>Access Level: <%= currentUser.accessLevel %></p>
    
<p><a href="/logout">Logout</a></p>

<table>
<tr>
	<th>event start</th>
	<th>Author</th>
	<th>Title</th>
</tr>
<% for (var i=0; i< events.length; i++){ %>
<tr>
<td><%= events[i].datetime.starttimestamp %></td>
<td><%= events[i].author.name %></td>
<td><a href="/events/permalink/<%= events[i]._id %>"><%= events[i].name %></a></td>
</tr>
<% } %>
</table>