<div  class="container">
<div id="maincontent" class="row-fluid">     

<div class="span4">
<h1>Hello <%= currentUser.name.first %></h1>

<hr/>
<% if (typeof(message) != "undefined") { %>
<p><%= message %></p>
<hr>
<% } %>

<h3>Change password</h3>
<form method="POST" action="/account/changepassword">
    New Password : <input type="password" name="password"><br>
    Type Password again: <input type="password" name="password2"><br>
    <br>
    <input type="submit" name="submit" value="Change Password">
</form>
<p>Access Level: <%= currentUser.accessLevel %></p>
    
<p><a href="/logout">Logout</a></p>
</div>

<div class="span8">
<h1>Latest entries</h1>
<table>
<tr>
	<th width="200px">Event start</th>
	<th width="200px">Author</th>
	<th>Title</th>
</tr>
<% for (var i=0; i< events.length; i++){ %>
<tr>
<td class="eventdate"><%= events[i].datetime.starttimestamp %></td>
<td><%= events[i].author.name %></td>
<td><a href="/events/permalink/<%= events[i]._id %>"><%= events[i].name %></a></td>
</tr>
<% } %>
</table>
</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	var mydate = new Date($(".eventdate").text());
	moment.utc(mydate);
	//mydate.calendar();
	//$(".eventdate").text(mydate);
	
});
</script>