<div  class="container">
<div id="maincontent" class="row-fluid">     

<div class="span4">
<h2>Oops! You must be logged in to do this</h2>
<hr/>
<% if (typeof(message) != "undefined") { %>
<p><%= message %></p>
<hr>
<% } %>

<form method="POST" action="/login">
    <label for="email">Email:</label>
    <input type="text" name="email" id="email">
    <br>
    
    <label for="password">Password:</label>
    <input type="password" name="password" id="password">
    <br>
    <input type="hidden" name="redirect" value="<%= redirect %>">
    <input type="submit" value="Log Me In">
       <!-- <a href="/register">register here</a> -->
    
</form>
</div>