/*
 purple: #8f14ae;
*/


* {margin: 0; padding: 0; }
html, body { width:100%; height: 100% }

body {
    /*background: url('images/sky.jpeg') fixed no-repeat;
    background: url('../img/bridge.jpg') fixed no-repeat;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #111111;
    font-family: Exo, Arial,Verdana,sans-serif;
    /*font-size: 72.5%;*/

}
#fullmenu {display: block}
#mobilemenu{display:none}
#container {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#mapHome img {
    max-width: none;
}

#header{
    height: auto;
    border-bottom: 1px solid #666;
    padding-bottom: 3em;
    color: #ccc;
}

#calltoaction {
    font-size: 2.3em;
    float:right;
    margin-top: -50px;
    border-radius: 10px 10px 10px 10px;
    padding: 0.5em;
    background-color: #8F14AE;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#aa37c7), to(#8F14AE));
    color: #FFF;
    text-decoration: none;
    display: block;
    position: absolute;
    bottom: 200px;
    right: 200px;
    z-index: 200;
}
#calltoaction:hover {
    background-color: #aa37c7;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#8F14AE), to(#aa37c7));
}

.error {
	color: #8F14AE;
}

#logo {
 /*   background: url('images/betherenyc_logo.png') no-repeat;*/
    width: 250px;
    height: 160px;
    display: inline;
    line-height: 50px;
}

#sidemenu.home {
    background: #FFF;
    opacity: 0.9;
    position: absolute;
    top: 0;
    bottom:0;
    left:0;
    top: 50px;
    margin-left: 0;
    z-index: 1;
}
#sidemenu {
    position: relative;
    
}

#sidemenu ul{
    list-style-type: none;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    margin:0;
}
#sidemenu::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 7px;
}
#sidemenu::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

#sidemenu ul li {
    padding: 1em .7em;
}
#sidemenu.home ul li p{
    padding: 0;
}
#sidemenu li h2 {
    font-family: 'Exo', Arial, sans-serif;
}
#sidemenu ul li a{
    color: #111111;
    text-decoration: none;
}

#sidemenu ul li:hover {
    background-color: #f0f0f0;
}

#mapHome {
    height: 100%;
    top: 50px;
    /*position: static!important;*/
}
#mapEvent {
    width: 100%;
    height: 200px;
}
#maincontent {
    clear: both;
    width: 100%;
    margin-top:90px;
}
#signup {
    width: 33%;
    border: 1px #ccc solid;
    float: right;
    padding: 1em;
}
#signup input {
    padding: 4px;
    /*font-size:16px; */ 
}
#signup button{
    padding: 4px;
    
}


#map img {
    max-width: none;
}

#mapthis, #minimap {display: none}


#locationjson li:hover {
    color: #8f14ae;
}

#footer {
/*    clear: both;
    border-top: 1px solid #666;
    height: 3em;
    position: fixed;
    top: 0;
    padding-left: 20px;
    padding-top: 15px;
    z-index: 3;
    width: 100%;*/
    background: #000;
    
    color: #fff;
    height: 4em;

    -moz-box-shadow:    0px 2px 3px 3px #ccc;
    -webkit-box-shadow: 0px 2px 3px 3px #ccc;
    box-shadow:         0px 2px 3px 3px #ccc;
}

#footer a {
    color: #fff;
    text-decoration: none;
}

/*----------------- SUBMIT ------------
#submitForm input, textarea{
    padding: 4px;
    font-size:16px;  
    display: block;
    margin: 1em 0;
}
*/

.hidden {
    display:none;
}

 .prev, .next { background-color:#333; padding:5px 10px; color:#fff; text-decoration:none;}
        .prev:hover, .next:hover { background-color:#000; text-decoration:none;}
        .prev { float:left;}
        .next { float:right;}
        #steps { list-style:none; width:100%; overflow:hidden; margin:0px; padding:0px;}
        #steps li {font-size:24px; float:left; padding:10px 10px 10px 0; color:#b0b1b3;}
        #steps li span {font-size:11px; display:block;}
        #steps li.current { color:#000;}


.loading {
    background-image: -webkit-gradient(linear, 0 0, 100% 100%,
        color-stop(.25, rgba(0, 0, 0, .10)), 
        color-stop(.25, transparent),
        color-stop(.5, transparent), 
        color-stop(.5, rgba(0, 0, 0, .10)),
        color-stop(.75, rgba(0, 0, 0, .10)), 
        color-stop(.75, transparent), 
        to(transparent));
    background-image: 
        -moz-linear-gradient(-45deg, 
            rgba(0, 0, 0, .10) 25%, 
            transparent 25%,
            transparent 50%, rgba(0, 0, 0, .10) 50%, 
            rgba(0, 0, 0, .10) 75%, 
            transparent 75%, transparent
        );
    background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    -webkit-background-size: 50px 50px;
    -webkit-animation: animate-stripes 2s linear infinite;
}

@-webkit-keyframes animate-stripes {
    from {
        background-position: 0 0;
    } 
    to {
       background-position: -50px 0;
    }
}

/* cirlcle loader */
#circular{
	margin-top:15px;
	width:64px;
	float:left;
}
.circular{
	background-color:#5FB7FF;
	float:left;
	width:15px;	
	height:15px;	
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-webkit-animation-name: bounce_circular;
 	-webkit-animation-duration: 0.7s;
 	-webkit-animation-iteration-count: infinite;
 	-webkit-animation-direction: linear;
	}
#circular_1{
	margin-top:25px;
 	-webkit-animation-delay: .3s;
}
#circular_2{
	margin-left:-8px;
	margin-top:9px;
 	-webkit-animation-delay: .4s;
}
#circular_3{
	margin-top:1px;
 	-webkit-animation-delay: .5s;
}
#circular_4{
	margin-left:0;
	margin-top:9px;
 	-webkit-animation-delay: .6s;
}
#circular_5{
	margin-left:-8px;
	margin-top:25px;
 	-webkit-animation-delay: .7s;
}
#circular_6{
	margin-left:-22px;
	margin-top:40px;
 	-webkit-animation-delay: .8s;
}
#circular_7{
	margin-left:-37px;
	margin-top:48px;
 	-webkit-animation-delay: .9s;
}
#circular_8{
	margin-left:-53px;
	margin-top:41px;
 	-webkit-animation-delay: 1s;
}
@-webkit-keyframes bounce_circular{
	0%{-webkit-transform:scale(1);}
	100%{-webkit-transform:scale(.3);}
}

#loadercircle{
	margin-top:10px;
	
}
.circle{
	background-color:#CCC;
	float:left;
	height:10px;
	margin-left:8px;
	width:10px;
	-webkit-animation-name: bounce_circle;
	-webkit-border-radius:10px;
 	-webkit-animation-duration: 1.5s;
 	-webkit-animation-iteration-count: infinite;
 	-webkit-animation-direction: linear;
	opacity:0.3;
}
#circle_1{
 	-webkit-animation-delay: .3s;
 }
#circle_2{
 	-webkit-animation-delay: .7s;
}
#circle_3{
 	-webkit-animation-delay: .9s;
}
@-webkit-keyframes bounce_circle{
	0%{opacity:0.3;}
	50%{opacity:1;background-color:#111}
	100%{opacity:0.3;}
}







@media  (max-width: 767px)  {
    #calltoaction {display: none}
    #sidemenu.home {
	width: 100%;
	position:absolute;
	top: 50px;
	left: 0;
	overflow: auto;
	height:	100%;
	display:none;
    }
    #footer {position: fixed}
    #mapHome{
	position: absolute;
	top:50px;
	left:0;
    }
    #container {
	width: 100%;
	height: 100%;
	overflow: auto;
    }
    #mobilemenu {display: block}
    #fullmenu{display:none}
    .ui-loader {display: none}

    #logo{
	font-size: 16px;
	width: 50px;
    }
}



