/*
 purple: #8f14ae;
*/


* {margin: 0; padding: 0; }
html, body { width:100%; height: 100% }

body {
    /*background: url('images/sky.jpeg') fixed no-repeat;
    background: url('../img/bridge.jpg') fixed no-repeat;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #111111;
    font-family: Arial,Verdana,sans-serif;
    font-size: 72.5%;
    /*overflow: hidden!important;*/
}
p { font-size: 1.3em; padding: 1em 0;}


.leftCol-1Third {
    float: left;
    width: 30%;
}

.rightCol-2Thirds{
/*    width: 65%;
    margin-left:33%;
*/
    width: auto;
    margin-left: 30%;
}

.fullwidth{
    clear: both;
    width: 100%;
}

#container{
	margin: 0 auto;
	width: 80%;
	background: #FFF;
	opacity: 0.96;
        padding: 3em;
        padding-bottom: 60px;
}
#container.home{
    width: 100%;
    height:100%;
    padding: 0;
}

#header{
    height: auto;
    border-bottom: 1px solid #666;
    padding-bottom: 3em;
    color: #ccc;
}

#calltoaction {
    font-size: 2.3em;
    float:right;
    margin-top: -50px;
    border-radius: 10px 10px 10px 10px;
    padding: 0.5em;
    background-color: #8F14AE;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#aa37c7), to(#8F14AE));
    color: #FFF;
    text-decoration: none;
    display: block;
    position: absolute;
    bottom: 200px;
    right: 200px;
    z-index: 200;
}
#calltoaction:hover {
    background-color: #aa37c7;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#8F14AE), to(#aa37c7));
}


#logo {
 /*   background: url('images/betherenyc_logo.png') no-repeat;*/
    width: 250px;
    height: 160px;
    display: inline;
}

#sidemenu.home {
    background: #FFF;
    opacity: 0.97;
    position: absolute;
    top: 0;
    bottom:0;
    left:0;
    bottom: 50px;
    margin-left: 0;
}
#sidemenu {
    position: relative;
    
}

#sidemenu ul{
    list-style-type: none;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    margin:0;
}
#sidemenu::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 7px;
}
#sidemenu::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

#sidemenu ul li {
    padding: 1em 1em;
}
#sidemenu.home ul li p{
    padding: 0;
}
#sidemenu li h2 {
    font-family: 'Exo', Arial, sans-serif;
}
#sidemenu ul li a{
    color: #111111;
    text-decoration: none;
}

#sidemenu ul li:hover {
    background-color: #f0f0f0;
}

#map {
    height: 100%;
}

#maincontent {
    clear: both;
    width: 100%;
    margin-top:50px;
}
#signup {
    width: 33%;
    border: 1px #ccc solid;
    float: right;
    padding: 1em;
}
#signup input {
    padding: 4px;
    font-size:16px;  
}
#signup button{
    padding: 4px;
    
}


#categoryholder {
    width:65%;
    
}
.categorylist {
    width: 30%;
    padding: 1.2em;
    float: left;
    font-size: 1.2em;
}
.categorylist h1 {
    color: #8f14ae;
    font-family: 'Exo', Arial, sans-serif;
}

.categorylist a{
    color: #333;
    text-decoration: none;
}
.categorylist a:hover{
    color: #8f14ae;
}
.categorylist ul {
    list-style-type: none;
}
.categorylist li{
    padding-bottom: 10px;
}

#footer {
    clear: both;
    border-top: 1px solid #666;
    height: 3em;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #000;
    padding-left: 20px;
    padding-top: 15px;
    color: #fff;
}
#footer a {
    color: #fff;
    text-decoration: none;
}

/*----------------- SUBMIT ------------*/
#submitForm input, textarea{
    padding: 4px;
    font-size:16px;  
    display: block;
    margin: 1em 0;
}


.hidden {
    display:none;
}

